body {margin:0;}
body{
    background-color: #f7f9f9;
=======
    width:1200px;
>>>>>>> 3f388d2b93ed725a76c885622f61a590f6163e4f
}
.header{
    margin-top: 50px;
}
ul {
    width:100%;
    height:20px;
    text-align:center;
}
li {
    display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    margin-right:10px;
    border-style: outset;
    border-color: black;
    text-decoration: none;
    text-align: center;
}
ul a{
    float:right;
    margin-right: 100;
    text-decoration: none;
}
.title{
    font-size:100%;
    float:left;
}
table {
    margin-top:-170px;
    border-collapse: collapse;
    width: 30%;
    float:left;
    column-width: 100px;
    font-size: 20;


}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
.table-div{
    margin-top: 150px;
    margin-left: 670px;
    margin-right: 250px;

}
.filterbox{
  margin-left:100px;
    margin-top:130px;
    border-radius: 180%;


}
.search{
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('icon.png');

}
.errorpairname{
    color:red;
    font-size:18px;
    margin-left: -700px;
    margin-top:-145px;
}
.titlehref{
    float:left;
    font-size:40px;
    color:black;
}
.tablesearch{

    width: 200px;
    height: 400px;
}
#headerparagraph{
    font-size: 20;
}
#logout{
    border-style: none;
}
#moneybag{
    margin-top:-100px;
    float:right;
}
#numberbag{
    float:right;
    border-style: solid;
    border-color:black;
    background-color: black;
    color:white;
    border-radius:180%;
}
#drawchart{
    padding: 0;
    border: none;
    background: none;
    font-size: 18;
}
#drawchartt{
    padding: 0;
    border: none;
    background: none;
    font-size: 18;
}
#diagrama{
width:50%;
    float:left;
    margin-top:-100px;


}
#diagramaa{
    width:50%;
    float:left;
    margin-top:-100px;


}
#diagramaa1{
    width:50%;
    float:left;
    margin-top:-100px;


}
.table-div{
    width:50%;
}
#currencyTable{
    height:550px;
    display:block;
}
#searchandtable{
    margin-top:-80px;
}
#currency_converter form {
    padding: 0px;
    margin: 0px;
}

#currency_converter div {
    padding: 0px;
    margin: 0px;
    width:170px;
}

#currency_converter #calc_div, #currency_converter #calc_div_iframe, #currency_converter .form_bottom {
    display: none;
}

#currency_converter .required, #currency_converter .err {
    color: #333333;
}

#currency_converter .form_table_outframe {
    display: block;
    width: 200px;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color:#333333;
    background-color:#02406c;
}

#currency_converter .page_header {
    display: block;
    float: left;
    width: 200px;
    background-color: #ffffff;
    color: #333333;
    text-align:center;
    line-height:25px;
    padding-bottom:5px;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-top: solid 1px #cccccc;
    font-family:Verdana, Geneva, sans-serif;
    font-size:16px;
    text-transform: capitalize;
}

#currency_converter .form_table_frame {
    float: left;
    width: 200px;
    padding: 0px;
}

#currency_converter .form_table {
    display: block;
    float: left;
    width: 200px;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    padding-bottom:10px;
    background-color:#ffffff;
}

#currency_converter .form_table_row {
    display: block;
    width: 180px;
    margin-left:10px;
    margin-top:10px;
}

#currency_converter #calculator_subscribe {
    width: 179px;
}

#currency_converter .form_fields, .form_label_bgr, select {
    font-family: Verdana, sans-serif;
    font-size: 11px;
}
/* #currency_converter_menu_links */
#currency_converter a, #currency_converter a:visited, #currency_converter a:active {
    text-decoration: underline;
    color: #3963AB;
}

#currency_converter a:hover {
    text-decoration: underline;
}

#currency_converter #currency_converter_menu_links a {
    display: block;
    font-size: 11px;
    float: left;
    width: 100%;
    margin-bottom:5px;
    margin-left:10px;
    padding-left:20px;
    display:inline;
    line-height:15px;
    color:#333333;
}

#currency_converter #currency_converter_menu_links  a {
    background: url(../images/bullet_question.gif) left no-repeat;
}

#currency_converter #currency_converter_menu_links a.uri3431 {
    background: url(../images/bullet_add.gif) left no-repeat;
}

#currency_converter #currency_converter_calculator_subscribe_form_under_info {
    display: block;
    float: left;
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
}

#currency_converter .checkradio_form_label_cell {
    display: block;
    width: 90%;
}

#currency_converter .rate_calc_result {
    display:block;
    border: none;
    float:left;
    width: 175px;
    padding: 2px;
    text-align:left;
    font-weight: normal;
    background-color: #ececec;
    color:#333333;
    padding-left:4px;
    clear: both;
}

#currency_converter .rate_calc_result a{
    color:#333333;
}

/*------ new ------*/

#currency_converter .form_label_bgr, #currency_converter .form_fields {
    width:180px;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    color:#333333;
}

#currency_converter .btn_submit {
    width:179px;
    height:25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height:25px;
    color:#333333;
    border:none;
    font-weight:bold;
    background: url(../images/button_convert.gif) left no-repeat;
    cursor:pointer;

}

#currency_converter form {
    padding: 0px;
    margin: 0px;
}

#currency_converter div {
    padding: 0px;
    margin: 0px;
    width:170px;
}

#currency_converter #calc_div, #currency_converter #calc_div_iframe, #currency_converter .form_bottom {
    display: none;
}

#currency_converter .required, #currency_converter .err {
    color: #ffffff;
}

#currency_converter .form_table_outframe {
    display: block;
    width: 200px;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color:#333333;
    background-color:#02406c;
}

#currency_converter .page_header {
    display: block;
    float: left;
    width: 200px;
    background-color: #999999;
    color: #ffffff;
    text-align:center;
    line-height:25px;
    padding-bottom:5px;
    border-bottom: solid 1px #ffffff;
    font-family:Verdana, Geneva, sans-serif;
    font-size:16px;
    text-transform: capitalize;
}

#currency_converter .form_table_frame {
    float: left;
    width: 200px;
    padding: 0px;
}

#currency_converter .form_table {
    display: block;
    float: left;
    width: 200px;

    padding-bottom:10px;
    background-color:#cccccc;
}

#currency_converter .form_table_row {
    display: block;
    width: 180px;
    margin-left:10px;
    margin-top:10px;
}

#currency_converter #calculator_subscribe {
    width: 179px;
}

#currency_converter .form_fields, .form_label_bgr, select {
    font-family: Verdana, sans-serif;
    font-size: 11px;
}
/* #currency_converter_menu_links */
#currency_converter a, #currency_converter a:visited, #currency_converter a:active {
    text-decoration: underline;
    color: #3963AB;
}

#currency_converter a:hover {
    text-decoration: underline;
}

#currency_converter #currency_converter_menu_links a {
    display: block;
    font-size: 11px;
    float: left;
    width: 100%;
    margin-bottom:5px;
    margin-left:10px;
    padding-left:20px;
    display:inline;
    line-height:15px;
    color:#333333;
}

#currency_converter #currency_converter_menu_links  a {
    background: url(../images/bullet_question.gif) left no-repeat;
}

#currency_converter #currency_converter_menu_links a.uri3431 {
    background: url(../images/bullet_add.gif) left no-repeat;
}

#currency_converter #currency_converter_calculator_subscribe_form_under_info {
    display: block;
    float: left;
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
}

#currency_converter .checkradio_form_label_cell {
    display: block;
    width: 90%;
}

#currency_converter .rate_calc_result {
    display:block;
    border: none;
    float:left;
    width: 175px;
    padding: 2px;
    text-align:left;
    font-weight: normal;
    background-color: #ececec;
    color:#333333;
    padding-left:4px;
    clear: both;
}

#currency_converter .rate_calc_result a{
    color:#333333;
}

/*------ new ------*/

#currency_converter .form_label_bgr, #currency_converter .form_fields {
    width:180px;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    color:#333333;
}

#currency_converter .btn_submit {
    width:179px;
    height:25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height:25px;
    color:#333333;
    border:none;
    font-weight:bold;
    background: url(../images/button_convert.gif) left no-repeat;
    cursor:pointer;

}

#powerd {
    float:left;
    width:200px;
    clear:left;
    margin-top:4px;
}

#powerd a {
    font-family:verdana;
    font-size:10px;
    color:#333333;
    text-decoration:none;
}

#powerd a:hover {
    font-family:verdana;
    font-size:10px;
    color:#333333;
    text-decoration:underline;
}
#converter{
    margin-top:100px;
    margin-left:100px;
=======
    overflow: auto;
>>>>>>> 3f388d2b93ed725a76c885622f61a590f6163e4f
}