body {  }
.form{  width:20%;  margin-top:50px;  }
.form form{  float:left;  }
#searchbyname {  }
#searchbyname input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#searchbyname input[type="text"]:focus {  width: 200px;  }
#searchbyauthor {  }
#searchbyauthor input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#searchbyauthor input[type="text"]:focus {  width: 200px;  }
.content {
    width:20%;
    float:left;
    height:100%;
}
.menu-vertical{
    width:100%;
    margin-top:150px;
    height:10%;
}
.logo{  margin-left:350px; width:400px;  height:200px; margin-top:100px; }
div.products{display:block; width:80%; margin:0 auto; text-align:left;margin-left:350px;}
.products{color:darkslategrey; background-color:#FFFFFF; margin-left:500px;float:top;}
.products a{color:#FF9900; background-color:#FFFFFF;}
.tab-content{
    display: inherit;
    float:left;
    width:30%;
    height :350px;
    margin-bottom: 0px;
}
.tab-content p{
    font-size: 15px;
    color: #384047;
    color: black;
    font-style: italic;
    margin-top: -5px;
    font-family: sans-serif;
    color: darkcyan;
}
.product{
    width:150px;
    margin:0 auto;
    margin: 10px 10px;
    float:left;
    text-align:center;
}
.product{float:top;}
.product a{  margin:25px;  color:darkgrey;  font-size:20px;  }
.products p{font-weight: 600; }
.product img {  border: 1px solid;  width: 150px; height:150px; margin-bottom: 5px;  padding: 2px;  }
body { font-family: "Lato", sans-serif;  }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{  color: #f1f1f1;  }
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {  .sidenav {padding-top: 15px;}  .sidenav a {font-size: 18px;}  }
.topnav {
    background-color: #333;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-bottom:10px;
}
.topnav span{float:left;color:aliceblue;}
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 34px 35px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {  color: grey; }
.topnav a.active {  background-color: #4CAF50;  color: white;  }
.vertical-menu {  width: 200px;  }
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    float:left
}
.vertical-menu a:hover {background-color: #ccc;  }
.vertical-menu a.active {  background-color: #4CAF50;  color: white;  }

#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 750px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    margin-right:200px;
    margin-left: 200px;
    margin-top: 20px;
}

/*------breadcrumb------------ */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin-top:150px;
    width:100%;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
#footer {
    background: #ffab62;
    border-top: 1px solid #ff4b02;
    color: #333;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}
#footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.scrollbar {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    overflow: scroll;
}
h1,h2,h3,h4,h5,h6 {
    color: darkcyan;
}
button {
    border-radius: 10px;
    background-color: #8a97a0;
    color: darkcyan;
    width: 150px;
    height: 30px;
    font-size: 20px;

}
.button{
    border-radius: 10px;
    background-color: #8a97a0;
    color: darkcyan;
    width: 200px;
    height: 30px;
    font-size: 20px;
}
.scroll{
    border: 1px solid black;
    width: 200px;
    height: 300px;
    overflow: scroll;
    margin-top:50px;
}
#searchbyname{
    margin-bottom:100px;
}
.pagination{
    align-content: center;
    width:100%;
    height:100px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin:0 auto;
    clear:left;
    margin-left:850px;
}
ul.pagination li {display: inline;width:10px;}
ul.pagination li input {
    padding: 8px 16px;
    color: darkcyan;
    background-color:white;
    border:none;
}
.bottom{
    clear:left;
    margin-top:-100px;
}
.title {
    color: darkcyan;
    font-size:18px;
    background-color:white;
    border: 0px solid white;
    font-style: italic;
    font-weight: 900;
    margin: 0 auto;
}
.container {
    margin-left:100px;
}
.details{
    border-radiu:20%;
    color:darkcyan;
    background-image: url(search-white.png);
}