body {  }
.form{  width:20%;  margin-top:50px;  }
.form form{  float:left;  }
#searchbyname {  }
#searchbyname input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#searchbyname input[type="text"]:focus {  width: 200px;  }
#searchbyauthor {  }
#searchbyauthor input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#searchbyauthor input[type="text"]:focus {  width: 200px;  }
.content {
    width:100%;
    float:left;
}
.menu-vertical{
    width:10%;
    margin-top:150px;
}
.logo{  margin-left:150px; width:400px;  height:200px; margin-top:-200px; }
div.products{display:block; width:70%; margin:0 auto; padding:0; text-align:left;}
.products{color:#979797; background-color:#FFFFFF; margin-left:500px;margin-bottom:50px;}
.products a{color:#FF9900; background-color:#FFFFFF;}
.tab-content{
    display: inherit;
    float:left;
    width:25%;
    height :400px;
    margin-left:50px;
}
.tab-content p{  font-size:15px;  color:#384047;  }
.product{

    width:150px;
    margin:0 auto;
    margin: 10px 10px;
    float:left;
    text-align:center;
}
.product{  margin-left:300px;float:top;}
.product a{  margin:25px;  color:darkgrey;  font-size:20px;  }
.product img {  border: 1px solid;  width: 150px; margin-bottom: 5px;  padding: 2px;  }
body { font-family: "Lato", sans-serif;  }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{  color: #f1f1f1;  }
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {  .sidenav {padding-top: 15px;}  .sidenav a {font-size: 18px;}  }
.topnav {
    background-color: #333;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-bottom:10px;
}
.topnav span{float:left;}
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 34px 35px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {  color: grey; }
.topnav a.active {  background-color: #4CAF50;  color: white;  }
.vertical-menu {  width: 200px;  }
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    float:left
}
.vertical-menu a:hover {background-color: #ccc;  }
.vertical-menu a.active {  background-color: #4CAF50;  color: white;  }
search {  }
#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 750px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    margin-right:200px;
    margin-left: 200px;
    margin-top: 20px;
}

/*------breadcrumb------------ */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin-top:150px;
    width:100%;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}





