<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.ymens.LogInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.ymens.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.ymens.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>parse</servlet-name>
        <servlet-class>com.ymens.ParseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>parse</servlet-name>
        <url-pattern>/parseServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>com.ymens.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pagination</servlet-name>
        <servlet-class>com.ymens.PaginationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pagination</servlet-name>
        <url-pattern>/PaginationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>history</servlet-name>
        <servlet-class>com.ymens.ParseHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>history</servlet-name>
        <url-pattern>/ParseHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>json</servlet-name>
        <servlet-class>com.ymens.jSonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>json</servlet-name>
        <url-pattern>/jSonServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>json1</servlet-name>
        <servlet-class>com.ymens.jSonServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>json1</servlet-name>
        <url-pattern>/jSonServlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>shop</servlet-name>
        <servlet-class>com.ymens.ShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/shopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sell</servlet-name>
        <servlet-class>com.ymens.SellServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sell</servlet-name>
        <url-pattern>/sellServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/parseServlet</welcome-file>
    </welcome-file-list>
</web-app>